.button {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 0;
  background-color: @base_green;
  color: @basic_white;
  font-family: "Oswald", "Arial", sans-serif;

  text-transform: uppercase;

  @media (min-width: @tablet_width) {
    font-size: 20px;
    line-height: 20px;
    padding: 17px 0;
  }

  &--show-all {
    font-size: 16px;
    line-height: 20px;
    background-color: @base_grey;
    color: @special_dark_grey;
    padding: 10px 0;
  }
}

.button:hover {
  background-color: #5eaa2f;
}

.button--show-all:hover {
  background-color: #ebebeb;
}

.button:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}

.button--show-all:active {
  background-color: #ebebeb;
  color: rgba(0, 0, 0, 0.3);
}


.button--catalog {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0;
}

.button--form {
  font-size: 16px;
  line-height: 20px;
  border: none;
  width: 100%;

  @media (min-width: @tablet_width) {
    font-size: 20px;
    line-height: 20px;
    padding: 16px 0;
  }
}
