.button {
  background-color: @base_green;
  color: @basic_white;
  font-size: 16px;
  line-height: 20px;

  &--show-all {
    background-color: @base_grey;
    color: @special_dark_grey;
  }

  &--small {
    font-size: 14px;
    line-height: 18px;
  }
}
