.contacts {
  background-color: @base_grey;
  padding: 26px 20px;

  &--index {
    background-color: @basic_white;
  }
}

.contacts__call {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
