.copyright__text {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-top: 7px;

  @media (min-width: @tablet_width) {
    width: 167px;
  }
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  color: #666666;

  @media (min-width: @tablet_width) {
    margin-top: -4px;
  }
}

.copyright__link:hover .copyright__icon {
  color: @base_green;
}

.copyright__link:active {
  color: rgba(68, 68, 68, 0.3);
}

.copyright__link:active .copyright__icon {
  color: rgba(104, 183, 56, 0.3);
}
