.main-nav {
  @media (min-width: @tablet_width) {
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__logo-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 17px;

  @media (min-width: @tablet_width) {
    padding-bottom: 0;
  }

  @media (min-width: @desktop_width) {
    margin-top: 54px;
  }
}

.main-nav__logo {
  display: inline-block;
  width: 33px;
  height: 37px;
  margin-top: 10px;

  @media (min-width: @tablet_width) {
    margin-top: 0;
    width: 174px;
    height: 51px;
  }

  @media (min-width: @desktop_width) {
    width: 202px;
    height: 59px;
  }
}

.main-nav__logo:hover {
  opacity: 0.8;
}

.main-nav__logo:active {
  opacity: 0.6;
}

.main-nav__text-logo {
  display: inline-block;
  width: 101px;
  height: 18px;
  margin-top: 23px;

  @media (min-width: @tablet_width) {
    display: none;
  }

  @media (min-width: @desktop_width) {
    display: none;
  }
}

.main-nav__list {
  .reset_list_style();
  z-index: 1;

  @media (min-width: @tablet_width) {
    display: grid;
    grid-template-columns: 64px 156px 153px;
    column-gap: 34px;
    margin: 15px 0 5px 0;

    &--form {
      grid-template-columns: 64px 153px 153px;
    }
  }

  @media (min-width: @desktop_width) {
    width: 480px;
    margin: 69px 0 5px 0;
    grid-template-columns: 73px 170px 169px;
  }
}

.main-nav__list-item {
  text-transform: uppercase;
}

.main-nav__list-item--active {
  @media (min-width: @tablet_width) {
    padding-bottom: 7px;
    border-bottom: @base_green 2px solid;
  }
}

.main-nav__list-item--active-index {
  @media (min-width: @desktop_width) {
    border-bottom: #ffffff 2px solid;
  }
}

.main-nav__link {
  color: #000000;
  vertical-align: middle;

  @media (min-width: @tablet_width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: @desktop_width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav__link:hover {
  opacity: 0.6;
}

.main-nav__link:active {
  opacity: 0.3;
}

.main-nav__link--index {
  @media (min-width: @desktop_width) {
    color: #ffffff;
  }
}

.main-nav--opened .main-nav__list {
  position: absolute;
  left: 0;
  top: 64px;
  min-height: 51px;
  background-color: #ffffff;
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.main-nav--opened .main-nav__list-item {
  height: 66px;
  border-top: 1px solid #e6e6e6;
}

.main-nav--opened .main-nav__list-item:last-child {
  border-bottom: 1px solid #e6e6e6;
}

.main-nav--opened .main-nav__link {
  display: block;
  text-align: center;
  padding: 22px 0;
}


@media (max-width: @mobile_width_only) {
  .main-nav--closed .main-nav__list-item {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    visibility: hidden;
  }

  .main-nav--nojs .main-nav__list {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .main-nav__list-item {
    display: block;
    height: 66px;
    border-top: 1px solid #e6e6e6;
  }

  .main-nav--nojs .main-nav__list-item:last-child {
    border-bottom: 1px solid #e6e6e6;
  }

  .main-nav--nojs .main-nav__link {
    display: block;
    text-align: center;
    padding: 22px 0;
  }
}

.main-nav__toggle {
  display: block;
  position: relative;
  margin: 23px 0 0 9px;
  width: 24px;
  height: 16px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;

  @media (min-width: @tablet_width) {
    display: none;
  }

  @media (min-width: @desktop_width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 1.5px;
  background-color: #000000;
  box-shadow: 0 7.5px 0 0 #000000, 0 15px 0 0 #000000;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 24px;
    height: 1.5px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}
