.example {
  background-color: @base_grey;
  padding: 25px 20px 40px 20px;
}

.example__result {
  .description_font();
}

.example__title {
  .work_example ();
  .reset_header_style ();
}

.example__number {
  .weight_days ();
}

.example__descreption {
  .weight_time ();
}

.example__expenses {
  font-size: 14px;
  line-height: 20px;
}

.example__wrapper {
  @media (min-width: @desktop_width) {
    display: flex;
    justify-content: space-between;
  }
}
