.instruction {
  margin: 0 20px 49px 20px;

  @media (min-width: @tablet_width) {
    margin-bottom: 47px;
  }
}

.instruction__header {
  .work_example ();

  @media (min-width: @tablet_width) {
    font-size: 60px;
    line-height: 60px;
    margin: 45px 0 32px 0;
  }
}

.instruction__list {
  .reset_list_style ();
  counter-reset: item;

  @media (min-width: @tablet_width) {
    display: grid;
    grid-template-columns: 240px 240px;
    gap: 34px 154px;
  }

  @media (min-width: @desktop_width) {
    grid-template-columns: 230px 246px 248px 250px;
    gap: 0 87px;
  }
}

.instruction__item {
  position: relative;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet_width) {
    flex-direction: column;
    height: 223px;
    padding-bottom: 57px;
  }
}

.instruction__item:not(:first-child) {
  margin-top: 20px;

  @media (min-width: @tablet_width) {
    margin: 0;
  }
}

.instruction__item::before {
  position: absolute;
  content: "";
  display: block;
  width: 60px;
  height: 60px;

  background-color: @base_green;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @media (min-width: @tablet_width) {
    width: 80px;
    height: 80px;
    left: 0;
    top: 40px;
  }
}

.instruction__item--natural::before {
  background-image: url("../../img/icon_leaf.svg");
  background-size: 30px 32px;
}

.instruction__item--cooking::before {
  background-image: url("../../img/icon_cooking.svg");
  background-size: 26px 29px;
}

.instruction__item--diet::before {
  background-image: url("../../img/icon_eat.svg");
  background-size: 25px 30px;
}

.instruction__item--result::before {
  background-image: url("../../img/icon_clock.svg");
  background-size: 26px 31px;
}

.instruction__item::after {
  display: none;

  @media (min-width: @tablet_width) {
    counter-increment: item;
    content: counter(item);
    font-family: "Oswald", sans-serif;
    font-weight: 400;

    position: absolute;
    display: block;
    font-size: 280px;
    line-height: 280px;
    color: @base_grey;
    z-index: -1;
    right: 0;
  }
}

.instruction__description {
  .description_font ();
  width: 196px;
  margin: 0 0 0 80px;

  @media (min-width: @tablet_width) {
    width: 245px;
    margin: 151px 0 0 0;
  }
}
