.instruction {
  margin: 0 20px 49px 20px;
}

.instruction__description {
  .description_font ();
}

.instruction__header {
  .work_example ();
}

.instruction__list {
  .reset_list_style ();

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 230px 230px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 230px 246px 248px 250px;
  }
}
