.main-product {
  background: @base_green url("../../img/index-background.png");
  background-size: 100%;
  color: @basic-white;
}

.main-product__wrapper {
  background-color: rgba(104, 183, 56, 0.85);
  padding: 27px 20px 0 20px;
}

.main-product__header {
  .page_header_font();
  text-align: center;
}

.main-product__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
}
