.programs {
  padding: 0 20px;
}

.programs__description {
  .description_font();
}

.programs__name {
  .weight_change ();
  .reset_header_style ();
}

.programs__header {
  .weight_change ();
  .reset_header_style ();
}

.programs__list {
  .reset_list_style();

  @media (min-width: @desktop_width) {
    display: flex;
    justify-content: space-between;
  }
}

.programs__item {
  background-color: @base_grey;
  margin: 20px 0;

  @media (min-width: @desktop_width) {
    width: 570px;
  }
}

.programs__link {
  .link_catalog ();
}
