.form__required-fields {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-top: 21px;
  margin-bottom: 32px;
}

.form__cat-program {
  @media (min-width: @desktop_width) {
    display: flex;
    justify-content: space-between;
  }
}

.form__fieldset {
  @media (min-width: @desktop_width) {
    width: 570px;
  }
}
