.input {
  display: flex;
  justify-content: space-between;
}

.input__label {
  .form_field_text ();
  color: @special_dark_grey;
  margin: auto 0;
  padding-right: 13px;
  flex-shrink: 0;

  @media (min-width: @tablet_width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.input__field {
  .form_field_text ();
  border: 1px solid #e7e7e7;
  padding: 14px 20px 13px 20px;
  min-width: 100px;
  flex-grow: 1;

  @media (min-width: @tablet_width) {
    padding: 10px 20px;

    font-size: 20px;
    line-height: 30px;
  }
}

.input__field::placeholder {
  color: @special_dark_grey;
}
