.person-contact {
  padding: 20px;
}

.person-contact__legend {
  .form_headlines ();
}

.person-contact__input {
  .form_field_text ();
}


.person-contact__label {
  .form_field_text ();
}

.person-contact__list {
  .reset_list_style ();

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 486px 467px;
  }
}
