.pet-info__header {
  .page_header_font();
  .reset_header_style ();
  margin-top: 27px;
}

.pet-info__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 37px;
  margin-bottom: 37px;
}
