.extended-catalog {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 895px 250px;
  }
}

.extended-catalog__header {
  .reset_header_style ();
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin-top: 25px;
}

.extended-catalog__wrapper {
  margin: 0 20px;
}

.extended-catalog__list {
  .reset_list_style ();
  margin-top: 36px;
}

.extended-catalog__item {
  padding-top: 13px;
  padding-bottom: 19px;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 361px 300px;
  }
}

.extended-catalog__characteristic {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
}

.extended-catalog__value {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
}

.extended-catalog__name {
  .reset_header_style ();
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 400;
}

.extended-catalog__product {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.extended-catalog__price-wrapper {
  display: flex;
  justify-content: space-between;
}

.extended-catalog__promotion--wrapper {
  background: @base_green url("../img/promotion-background.png");
  background-size: 100%;
}

.extended-catalog__promotion--background {
  background-color: rgba(104, 183, 56, 0.85);
}

.extended-catalog__promotion--content {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @basic_white;
}
