.product {
  @media (min-width: @tablet_width) {
    background: linear-gradient(#ffffff 15.85%, @base_grey 15.85%);
  }
}

.product__container {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet_width) {
    width: 250px;
    padding: 0 38px 39px 36px;
  }

  @media (min-width: @desktop_width) {
    width: 175px;
    padding: 0 34px 39px 35px;
  }
}

.product__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  @media (min-width: @tablet_width) {
    display: block;
    margin-bottom: 33px;
  }
}

.product__image {
  margin-top: 14px;
  margin-left: 36px;

  &--fish {
    margin-top: 27px;
  }

  &--buckwheat {
    margin-top: 30px;
  }

  &--rice {
    margin-top: 24px;
  }

  &--big {
    margin-top: 11px;
    margin-left: 28px;
  }

  @media (min-width: @tablet_width) {
    display: block;
    margin: 0 auto 34px auto;
    padding-top: 35px;
    width: 161px;
    height: 172px;

    &--big {
      width: 168px;
      height: 206px;
      padding-top: 0;
      margin-top: 7px;
      margin-bottom: 27px;
    }
  }

  @media (min-width: @desktop_width) {
    padding-top: 29px;
    margin-bottom: 42px;

    &--big {
      padding-top: 0;
      margin-top: -5px;
    }
  }
}

.product__link {
  color: #222222;
}

.product__description {
  width: 140px;

  @media (min-width: @tablet_width) {
    width: 252px;
  }

  @media (min-width: @desktop_width) {
    width: 172px;
    padding-left: 2px;
  }
}

.product__name {
  .reset_header_style ();
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  width: 76px;
  text-transform: uppercase;

  @media (min-width: @tablet_width) {
    width: 130px;
    font-size: 20px;
    line-height: 24px;
    color: #222222;
    text-align: center;
    margin-left: 62px;
  }

  @media (min-width: @desktop_width) {
    line-height: 21px;
    margin-left: 23px;
  }
}

.product__list {
  font-size: 12px;
  line-height: 16px;
  margin-top: 15px;

  @media (min-width: @tablet_width) {
    margin: 12px 0 33px 0;
  }

  @media (min-width: @desktop_width) {
    margin-top: 16px;
  }
}


.product__part-wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet_width) {
    border-bottom: 1px solid #cdcdcd;
    padding: 7px 0 9px 0;
  }
}

.product__characteristic {
  font-family: "Lato", "Arial", sans-serif;
  color: @special_dark_grey;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: @tablet_width) {
    font-size: 16px;
    line-height: 16px;
    margin-left: 3px;
  }
}

.product__value {
  font-family: "Lato", "Arial", sans-serif;
  color: @special_dark_grey;

  @media (min-width: @tablet_width) {
    font-size: 16px;
    line-height: 16px;

    &--number {
      margin-right: 4px;
    }
  }
}

.product__button {
  @media (min-width: @tablet_width) {
    margin-left: 4px;
  }

  @media (min-width: @desktop_width) {
    margin-left: 2px;
  }
}
